{{ if not .Params.no_header }}
  <header>
    {{ if .IsPage }}
      <h1 class="entry-title">{{ .Title }}</h1>
    {{ else }}
      <h1 class="entry-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ end }}
    {{ if ne .Params.meta false }}
      <p class="meta">
        {{ partial "post/date.html" . }}
        {{ if and site.Params.disqus_short_name (ne .Params.comments false) site.Params.disqus_show_comment_count }}
           | <a href="{{ if .IsPage }}{{ .Permalink }}{{ end }}#disqus_thread"
             data-disqus-identifier="{{ .Permalink }}">Comments</a>
        {{ end }}
      </p>
    {{ end }}
  </header>
{{ end }}
{{ if .IsPage }}
<div class="entry-content">{{ .Content }}</div>
{{ else }}
  <div class="entry-content">{{ .Summary }}</div>
  {{ if .Truncated }}
    <footer>
      <a rel="full-article" href="{{ .Permalink }}">Read on &rarr;</a>
    </footer>
  {{ end }}
{{ end }}