---
layout: default
title: Posts by Category
---
<div class="header">
<h1 class="title">Posts by Category</h1>
</div>

<div class="post">

{% assign categories = site.categories | sort %}
{% for category in categories %}
{% unless category[0] == "personal" %}
<h2 id="{{ category[0] | slugify }}">{{ category[0] | capitalize }}</h2>
<ul>
{% for post in category[1] %}
<li><a href="{{ post.url }}">{{ post.title }}</a> <span style="color:#666">({{ post.date | date: "%Y-%m-%d" }})</span></li>
{% endfor %}
</ul>
{% endunless %}
{% endfor %}

</div>

<div class="footer">
<div class="contact">
<p>Joel Fernandes · <a href="https://twitter.com/joel_linux">Twitter</a> · <a href="https://www.linkedin.com/in/joelagnel">LinkedIn</a> · <a href="/about-site.html">About site</a></p>
</div>
</div>
