<div class="post-categories">
  {{ with .Params.categories }}
    {{ if reflect.IsSlice . }}
      {{ range $index, $category := . }}
      <a href="{{ "/categories/" | relURL }}#{{ $category | urlize }}">{{ $category }}</a>
      {{ if ne $index (sub (len .) 1) }}&nbsp;{{ end }}
      {{ end }}
    {{ else }}
      {{ $categories := split . ", " }}
      {{ range $index, $category := $categories }}
      <a href="{{ "/categories/" | relURL }}#{{ $category | urlize }}">{{ $category }}</a>
      {{ if ne $index (sub (len $categories) 1) }}&nbsp;{{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>