<div class="sharing">
  {{ if site.Params.twitter_tweet_button }}
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ .Permalink }}" data-via="{{ site.Params.twitter_user }}" data-counturl="{{ .Permalink }}" >Tweet</a>
  {{ end }}
  {{ if site.Params.google_plus_one }}
  <div class="g-plusone" data-size="{{ site.Params.google_plus_one_size | default "medium" }}"></div>
  {{ end }}
  {{ if site.Params.facebook_like }}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {{ end }}
</div>