{{ define "main" }}
<div>
<article role="article">
  {{ if .Title }}
  <header>
    <h1 class="entry-title">{{ .Title }}</h1>
    {{ if .Date }}<p class="meta">{{ partial "post/date.html" . }}</p>{{ end }}
  </header>
  {{ end }}
  {{ .Content }}
  {{ if ne .Params.footer false }}
    <footer>
      {{ if or .Date .Params.author }}<p class="meta">
        {{ if .Params.author }}{{ partial "post/author.html" . }}{{ end }}
        {{ partial "post/date.html" . }}
        {{ if .Params.categories }}{{ partial "post/categories.html" . }}{{ end }}
      </p>{{ end }}
      {{ if ne .Params.sharing false }}
        {{ partial "post/sharing.html" . }}
      {{ end }}
    </footer>
  {{ end }}
</article>
{{ if and site.Params.disqus_short_name (eq .Params.comments true) }}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{{ partial "post/disqus_thread.html" . }}</div>
  </section>
{{ end }}
</div>
{{ if ne .Params.sidebar false }}
<aside class="sidebar">
  {{ partial "sidebar.html" . }}
</aside>
{{ end }}
{{ end }}