---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
  </header>
  {% endif %}
  {{ content }}
  {% unless page.footer == false %}
    <footer>
      {% if page.date or page.author %}<p class="meta">
        {% if page.author %}{% include post/author.html %}{% endif %}
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
        {% if page.categories %}{% include post/categories.html %}{% endif %}
      </p>{% endif %}
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </footer>
  {% endunless %}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  <h3>Student Testimonials</h3>
  <p style="border:3px; border-style:solid; border-color:green; padding: 1em; font-size: 75%;">
  <b>Samuel from MSU</b><br>
I'm a 4th year student at Michigan State University majoring in Computer
Science and Joel have been extremely helpful tutoring me in my Computer
Networks class. I am so happy I stumbled across Joel after numerous failed
attempts of finding a tutor to help me with this college class. I had 3
projects to complete during the course of my semester which for the first 2 I
was not able to make any progress because the tutors I had were not helpful at
all. When Joel became my tutor, I was able to complete the last project in a
timely manner and it resulted in me getting a 100% and being able to pass the
class. He is very experienced and knowledgeable! He keeps lessons effective,
engaging, and fun. If anyone is looking for a tutor for any computer science
subjects, I highly recommend Joel to be your tutor.
  </p>
  <br>
  <p style="border:3px; border-style:solid; border-color:green; padding: 1em; font-size: 75%;">
  <b>Yee Chee</b><br>
  Super knowledgeable kind tutor:
  He gave me useful tips about learning data structures and java, including the right book and IDE. Gave me confidence to map my own study plan and most importantly, really encouraged me to go for it when I was so lost about how to go about learning these topics.
  </p>

</aside>

{% endunless %}
