<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - Joel Fernandes</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="author" content="Joel Fernandes">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/page.css">
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="page">

<div class="nav">
<p class="navhdr">Joel's site:</p>
<a href="/">Home</a><br>
<a href="/bio.html">Bio</a><br>
<a href="/linuxperf.html">Linux Perf</a><br>
<a href="/rcu.html">RCU</a><br>
<a href="/tracing.html">Tracing</a><br>
<a href="/schedulers.html">Schedulers</a><br>
<a href="/memory-ordering.html">Memory Ordering</a><br>
<a href="/gpu.html">GPU Drivers</a><br>
<a href="/resources/">Talks</a><br>
<a href="/personal.html">Personal Posts</a><br>
<a href="/joel/">Resume</a><br>
</div>

<div class="recent">
<p class="navhdr">Recent posts:</p>
<ul>
{% assign count = 0 %}
{% for post in site.posts %}
{% unless post.categories contains "personal" %}
{% if count < 10 %}
<li class="recent">{{ post.date | date: "%Y-%m-%d" }} &raquo;<br><a href="{{ post.url }}">{{ post.title }}</a></li>
{% assign count = count | plus: 1 %}
{% endif %}
{% endunless %}
{% endfor %}
</ul>

<p class="navhdr">Recent personal:</p>
<ul>
{% assign pcount = 0 %}
{% for post in site.posts %}
{% if post.categories contains "personal" %}
{% if pcount < 5 %}
<li class="recent">{{ post.date | date: "%Y-%m-%d" }} &raquo;<br><a href="{{ post.url }}">{{ post.title }}</a></li>
{% assign pcount = pcount | plus: 1 %}
{% endif %}
{% endif %}
{% endfor %}
</ul>

<p><a href="/">All posts</a><br>
<a href="/bio.html">About</a><br>
<a href="/feed.xml">RSS</a></p>
</div>

<div class="site">
{% unless page.url == "/" %}
<p><a href="/">&laquo; Back to Home</a></p>
{% endunless %}
{{ content }}
</div>

</div>

</body>
</html>
